.rojo {
    background-color: red;
    color: white;
}

.verde{
        background-color: green;
        color: white;
}


.azul{
        background-color: blue;
        color: white;
}

.gris{
        background-color: grey;
        color: white;

}
